@import "variables";
@import "globals";

.mg-container.about-top {
    font-family: "Open Sans", sans-serif;
    padding: 50px 16px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    background-image: url("../../public/images/about-heroshot.png");
    background-repeat: no-repeat;
    background-size: cover;
    h1,
    h2 {
        margin: 0;
        padding: 0;
    }
    h1 {
        font-weight: bold;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 16px;
    }
    h2 {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #ffffff;
    }

    @media (min-width: 768px) {
        background-image: url("../../public/images/about-heroshot-lg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        text-align: center;
        padding: 140px 0 72px;
        h1 {
            font-size: 64px;
            line-height: 72px;
        }
        h2 {
            font-size: 32px;
            line-height: 72px;
        }
    }
}

.mg-container.about-middle {
    font-family: "Open Sans", sans-serif;
    max-width: 858px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 52px;
    padding: 40px 16px 0;
    .logo-image__container {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 48px;
        .image_wrapper:first-of-type {
            margin-bottom: 40px;
        }
    }
    p {
        font-size: 14px;
        line-height: 32px;
        text-align: justify;
        color: #000000;
        margin-bottom: 16px;
    }

    .event-image__container {
        width: 100%;
        text-align: center;
    }

    @media (min-width: 768px) {
        margin-bottom: 32px;
        font-size: 14px;
        line-height: 45px;
        .logo-image__container {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 72px;
            .image_wrapper:first-of-type {
                margin-bottom: 0px;
                margin-left: 26px;
                margin-right: 26px;
            }
        }
        p {
            line-height: 45px;
        }
        .event-image__container {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.contact-us__container {
    font-family: "Open Sans", sans-serif;
    padding: 0 24px 40px;
    background-image: url('../../public/images/form-bg.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100% 600px;

    // boilerplate
    a {
        text-decoration: none;
        transition: 0.4s ease;
        color: inherit;
        &:hover {
            opacity: 0.7;
        }
    }

    .mg-input {
        background: #ffffff;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 15px;
        padding: 4px 8px;
        font-family: inherit;
        &:focus {
            outline: none;
        }
    }

    .mg-textarea {
        background: #ffffff;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 15px;
        padding: 8px;
        font-family: inherit;
        &:focus {
            outline: none;
        }
    }

    .mg-submit {
        font-family: inherit;
        background: #43ffdd;
        border-radius: 45px;
        padding: 10px 0;
        outline: none;
        border: none;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #115448;
        &:disabled {
            opacity: 0.3;
            &:hover {
                cursor: not-allowed;
            }
        }
        &:not(:disabled):hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    .title {
        font-weight: 300;
        font-size: 32px;
        line-height: 44px;
        letter-spacing: -0.04em;
        color: #4580f3;
        text-align: center;
        margin-bottom: 40px;
        span {
            font-weight: 700;
        }
    }

    .btm-section {
        display: flex;
        flex-direction: column;
    }

    form.form-wrapper {
        background: #4580f3;
        padding: 40px 20px;
        color: #fff;
        filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.2));
        .mg-form {
            max-width: 400px;
            margin-bottom: 16px;
            margin-left: auto;
            margin-right: auto;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            label {
                display: block;
                margin-bottom: 4px;
            }
            input,
            textarea {
                width: 100%;
            }
            .g-recaptcha {
                display: flex;
                justify-content: center;
            }
            &:nth-last-of-type(2) {
                margin-bottom: 24px;
            }
            .messages p{
                margin: 0;
                color: #f04;
                font-size: 14px;
            }
        }
    }

    .contact-wrapper {
        background: #2c5ab1;
        text-align: center;
        color: #fff;
        padding: 40px;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        .contact-address {
            margin-bottom: 32px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
        .contact-email {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
        }
        span {
            margin-right: 16px;
        }
    }

    @media (min-width: 768px) {
        background-image: url('../../public/images/form-bg-lg.png');
        background-repeat: no-repeat;
        background-position:center;
        .title {
            font-size: 48px;
            line-height: 65px;
        }
        .btm-section {
            display: flex;
            flex-direction: row;
            width: 100%;
            max-width: 1020px;
            margin-left: auto;
            margin-right: auto;
            .form-wrapper {
                flex: 1 1 auto;
            }
            .contact-wrapper {
                width: 485px;
                font-size: 16px;
                line-height: 30px;
                text-align: left;
            }
        }

        .contact-wrapper {
            span {
                padding-top: 8px;
                img {
                    width: 46px;
                    height: 46px;
                }
            }
        }
    }
}