@import "variables";
@import "globals";

.creators {
    h1,
    h2 {
        margin: 0;
        padding: 0;
    }
    font-family: "Open Sans", sans-serif;
}
.creators.hero-shot {
    font-family: "Open Sans", sans-serif;
    padding-top: 280px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    min-height: 580px;
    background-color: #f8f6f9;
    margin-bottom: 56px;
    overflow: hidden;
    background-image: url("../../public/images/creators-heroshot.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 72% 0;
    .title {
        font-weight: 800;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.05em;
        font-feature-settings: "liga" off;
        color: #313131;
        margin-bottom: 16px;
    }
    .subtitle {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        font-feature-settings: "liga" off;
        color: #313131;
        margin-bottom: 24px;
    }
    .cta {
        font-weight: 800;
        font-size: 24px;
        line-height: 26px;
        letter-spacing: -0.04em;
        color: #313131;
        text-decoration: none;
        &::after {
            content: url("../../public/images/arrow-right.svg");
            margin-left: 12px;
        }
        &:hover{
            opacity: .7;
        }
    }
    .photo-thumbnail {
        position: absolute;
        left: 0;
        top: 0;
        img {
            width: 494px;
            height: auto;
        }
        .top{
            position: absolute;
        }
        .bottom{
            position: absolute;
        }
    }
    .item-left {
        position: relative;
        z-index: 2;
    }

    .bg-blur-white {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 28.13%, #ffffff 54.17%);
        transform: rotate(28.25deg);
        width: 900px;
        height: 756px;
        position: absolute;
        left: -100px;
        top: 0;
    }

    @media (min-width: 500px) {
        .photo-thumbnail {
            right: 494px;
            left: unset;
        }
    }

    @media (min-width: 768px) {
        padding-bottom: 0;
        padding-top: 150px;
        min-height: 806px;
        margin-bottom: 100px;
        background-image: url("../../public/images/creators/heroshot/bg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        // background-position:unset;

        .creator-container {
            max-width: 1180px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-between;
        }

        .title {
            font-size: 56px;
            line-height: 76px;
        }
        .subtitle {
            font-size: 16px;
            line-height: 26px;
        }
        .photo-thumbnail {
            right: 600px;
            position: relative;
            z-index: unset;
            img {
                width: 685px;
                height: auto;
            }
        }
        .bg-blur-white {
            display: none;
        }
    }

    @media (min-width: 992px) {
        .title {
            width: 643px;
        }
        .subtitle {
            width: 580px;
        }
    }

    @media (min-width: 1441px) {
        .creator-container {
            max-width: 1380px;
        }
    }
}

.creators.benefit {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 40px;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9;
    .title {
        font-weight: 800;
        font-size: 48px;
        line-height: 65px;
        letter-spacing: -0.04em;
        color: #4580f3;
        padding-left: 20px;
        margin-bottom: 8px;
    }
    .hr {
        border-bottom: 2px solid #4580f3;
        width: 355px;
        margin-bottom: 52px;
    }

    .benefit-container {
        padding-left: 16px;
        padding-right: 16px;
        .benefit-wrapper {
            .benefit-title {
                font-weight: bold;
                font-size: 20px;
                line-height: 27px;
                letter-spacing: -0.04em;
                color: #383838;
                margin-bottom: 8px;
            }
            .benefit-subtitle {
                font-weight: 300;
                font-size: 16px;
                line-height: 26px;
                color: #383838;
            }
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
    }

    &.id {
        .title {
            color: #FF7D34;
        }
        .hr {
            border-bottom: 2px solid #FF7D34;
        }
    }

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;
        .left-container {
            // margin-right: 72px;
        }
        .benefit-container {
            max-width: 728px;
            height: 370px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .benefit-wrapper {
                .benefit-title {
                    font-size: 24px;
                    line-height: 33px;
                }
                .benefit-subtitle {
                }
            }
        }
    }
}

.creators.services {
    font-family: "Open Sans", sans-serif;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 80px;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;

    .title {
        font-weight: 800;
        font-size: 52px;
        line-height: 71px;
        letter-spacing: -0.04em;
        color: #4580f3;
        margin-bottom: 100px;
    }

    .subtitle {
        display: block;
        font-weight: 300;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: -0.04em;
        color: #4580f3;
        text-align: center;
        margin-bottom: 72px;
        span {
            font-weight: bold;
        }
    }

    .services-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .service-wrapper {
            text-align: center;
            max-width: 273px;
            margin-bottom: 32px;
            .service-img {
                margin-bottom: 16px;
                height: 90px;
                display: flex;
                align-items: center;
                justify-content: center;

                &.deals::before {
                    content: url("../../public/images/creators/icon/deals.svg");
                }
                &.creators::before {
                    content: url("../../public/images/creators/icon/creators.svg");
                }
                &.community::before {
                    content: url("../../public/images/creators/icon/community.svg");
                }
                &.support::before {
                    content: url("../../public/images/creators/icon/support.svg");
                }
            }
            .service-title {
                font-weight: bold;
                font-size: 24px;
                line-height: 33px;
                text-align: center;
                letter-spacing: -0.04em;
                color: #4580f3;
                min-height: 66px;
                margin-bottom: 16px;
            }
            .service-subtitle {
                font-weight: 300;
                font-size: 16px;
                line-height: 26px;
                text-align: center;
                color: #383838;
            }
        }

        &.id {
            .service-wrapper {
                .service-img {
                    &.deals::before {
                        content: url("../../public/images/creators/icon/deals-orange.svg");
                    }
                    &.creators::before {
                        content: url("../../public/images/creators/icon/creators-orange.svg");
                    }
                    &.community::before {
                        content: url("../../public/images/creators/icon/community-orange.svg");
                    }
                    &.support::before {
                        content: url("../../public/images/creators/icon/support-orange.svg");
                    }
                }
                .service-title {
                    color: #ff7d34;
                }
            }
        }
    }

    &.id {
        .title,
        .subtitle {
            color: #ff7d34;
        }
    }

    @media (min-width: 768px) {
        padding-left: 0;
        padding-right: 0;
        .title {
            text-align: center;
            margin-bottom: 100px;
        }

        .subtitle {
            display: block;
            font-weight: 300;
            font-size: 48px;
            line-height: 58px;
            letter-spacing: -0.04em;
            color: #4580f3;
            text-align: center;
            margin-bottom: 72px;
            span {
                font-weight: bold;
            }
        }

        .services-container {
            flex-direction: row;
            .service-wrapper {
                margin-bottom: 0;
            }
        }
    }
}

.creators.showcase {
    font-family: "Open Sans", sans-serif;
    padding-right: 16px;
    padding-left: 16px;
    margin-bottom: 80px;
    min-height: 600px;
    .title {
        font-weight: 300;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        letter-spacing: -0.04em;
        color: #4580f3;
        margin-bottom: 16px;
        span {
            font-weight: 700;
        }
    }

    .subtitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #c4c4c4;
        display: flex;
        overflow-x: auto;
        &::-webkit-scrollbar {
            width: 0px;
        }
        .country-wrapper {
            padding-bottom: 8px;
            border-bottom: 4px solid #c4c4c4;
            margin-right: 16px;
            white-space: nowrap;
            font-weight: 500;
            &.active {
                color: #000;
                border-bottom: 4px solid #000;
            }
            &:hover {
                color: #000;
                cursor: pointer;
                border-bottom: 4px solid #000;
            }
        }
    }

    .showcase-container {
        .showcase-thumbnail {
            transition: opacity 0.5s;
            height: 255px;
            width: 100%;
            position: relative;
            overflow: hidden;
            background-color: #ee8a3f;

            &:nth-of-type(2n) {
                background-color: #0a6ce1;
                .showcase-hover {
                    background-color: rgba(9, 105, 225, 0.5);
                }
            }
            img {
                width: 100%;
                object-fit: cover;
            }
            .showcase-hover {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;
                background-color: rgba(239, 135, 62, 0.5);
                // &:nth-of-type(2n) {
                //     background-color: rgba(9, 105, 225, 0.5);
                // }
                .country {
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 27px;
                    letter-spacing: -0.04em;
                    color: #fff;
                    position: absolute;
                    left: 6px;
                }

                .creator-name {
                    font-weight: 300;
                    font-size: 48px;
                    line-height: 65px;
                    letter-spacing: -0.04em;
                    color: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    white-space: nowrap;
                }
            }

            &:hover {
                .showcase-hover {
                    display: block;
                }
                img {
                    transform: scale(1.3);
                    // transform-origin: top;
                }
            }

            .top,
            .bottom {
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
            }
        }
    }

    @media (min-width: 768px) {
        max-width: 1180px;
        margin-left: auto;
        margin-right: auto;
        .title {
            font-size: 48px;
            line-height: 58px;
            margin-bottom: 40px;
        }
        .subtitle {
            margin-bottom: 32px;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        .showcase-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .showcase-thumbnail {
                width: 33%;
                max-width: 390px;
                margin-bottom: 4px;
            }
        }
    }
}

.creators.footer {
    font-family: "Open Sans", sans-serif;
    padding: 32px 16px 40px;
    background-color: #353535;
    color: #fff;
    text-align: center;
    background-image: url("../../public/images/creator-footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    .title {
        font-weight: 800;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.04em;
        margin-bottom: 32px;
    }
    .subtitle {
        font-weight: 800;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.04em;
        margin-bottom: 20px;
    }
    .cta {
        background: #ff7d34;
        border-radius: 45px;
        padding: 20px 0;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    @media (min-width: 768px) {
        background-image: url("../../public/images/creator-footer-bg-lg.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 112px;
        .creator-container {
            max-width: 1180px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .title {
                font-weight: 800;
                font-size: 24px;
                line-height: 33px;
                margin-bottom: 16px;
                text-align: left;
            }
            .subtitle {
                font-weight: 800;
                font-size: 56px;
                line-height: 76px;
                text-align: left;
            }
            .cta {
                font-size: 16px;
                line-height: 22px;
                padding: 20px 90px;
            }
        }
    }
}
