@import "variables";
@import "globals";

section.our-clients {
    font-family: "Open Sans", sans-serif;
    max-width: 1060px;
    margin: 40px auto;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    .title {
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        letter-spacing: -0.04em;
        color: #4580f3;
        margin-bottom: 40px;
        span {
            font-weight: 700;
        }
    }

    .subtitle {
        display: none;
    }

    .client-wrapper {
        margin-bottom: 48px;
        .splide {
            padding-bottom: 32px;
            .img-thumbnail {
                width: 96px;
                height: 96px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #ffffff;
                box-shadow: 2px 4px 15px rgba(138, 149, 158, 0.25);
            }
            .splide__arrows {
                display: none;
            }
            .splide__track {
                padding: 8px 0;
            }
            .splide__pagination__page {
                background: #c4c4c4;
                &.is-active {
                    background: #363636;
                }
            }
        }
    }
    .cta {
        background: #4580f3;
        border-radius: 45px;
        padding: 20px 70px;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    @media (min-width: 768px) {
        .title {
            font-size: 48px;
            line-height: 65px;
            margin-bottom: 60px;
        }

        .client-wrapper {
            margin-bottom: 64px;
            .splide {
                padding-bottom: 32px;
                .img-thumbnail {
                    width: 180px;
                    height: 180px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #ffffff;
                    box-shadow: 2px 4px 15px rgba(138, 149, 158, 0.25);
                    img {
                        width: auto;
                    }
                }
                .splide__track {
                    padding: 16px 0;
                }
                .splide__pagination__page {
                    background: #c4c4c4;
                    &.is-active {
                        background: #363636;
                    }
                }
            }
        }
    }
}

section.our-creators {
    font-family: "Open Sans", sans-serif;
    padding-right: 16px;
    padding-left: 16px;
    margin-bottom: 80px;
    min-height: 600px;
    .title {
        font-weight: 300;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        letter-spacing: -0.04em;
        color: #4580f3;
        margin-bottom: 16px;
        span {
            font-weight: 700;
        }
    }

    .showcase-container {
        .showcase-thumbnail {
            transition: opacity 0.5s;
            height: 255px;
            width: 100%;
            position: relative;
            overflow: hidden;
            background-color: #ee8a3f;

            &:nth-of-type(2n) {
                background-color: #0a6ce1;
                .showcase-hover {
                    background-color: rgba(9, 105, 225, 0.5);
                }
            }
            img {
                width: 100%;
                object-fit: cover;
            }
            .showcase-hover {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;
                background-color: rgba(239, 135, 62, 0.5);
                .country {
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 27px;
                    letter-spacing: -0.04em;
                    color: #fff;
                    position: absolute;
                    left: 6px;
                }

                .creator-name {
                    font-weight: 300;
                    font-size: 48px;
                    line-height: 65px;
                    letter-spacing: -0.04em;
                    color: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    white-space: nowrap;
                }
            }

            &:hover {
                .showcase-hover {
                    display: block;
                }
                img {
                    transform: scale(1.3);
                }
            }

            .top,
            .bottom {
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
            }
        }
    }

    &.id{
        .title{
            color: #FF7D34;
        }
    }

    @media (min-width: 768px) {
        max-width: 1180px;
        margin-left: auto;
        margin-right: auto;
        .title {
            font-size: 48px;
            line-height: 58px;
            margin-bottom: 40px;
        }
        .showcase-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .showcase-thumbnail {
                width: 33%;
                max-width: 390px;
                margin-bottom: 4px;
            }
        }
    }
}
