@import "variables";
@import "globals";

.mg-container.eula {
    font-family: "Lato", sans-serif;
    padding: 24px 16px 60px;
    ol,
    ul {
        padding: 0;
        list-style-position: inside;
    }
    a {
        text-decoration: none;
        transition: 0.4s ease;
        color: inherit;
        &:hover {
            opacity: 0.7;
        }
    }
    .subheading {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #999999;
    }

    // eula pages
    .eula-title {
        &-container {
            margin-bottom: 24px;
            text-align: center;
            position: relative;
        }

        &__text {
            margin-bottom: 8px;
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 28px;
            line-height: 38px;
            text-transform: uppercase;
            color: #ff7d34;
            text-align: center;
        }

        &__icon {
            position: relative;
            border-top: 24px solid #25c8be;
            border-right: 16px solid transparent;
            border-bottom: 16px solid transparent;
            border-left: 16px solid transparent;
            display: inline-block;
        }
    }
    .eula-summary {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 26px;
        color: #383838;
    }
    .eula-paragraph {
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;
        color: #636c77;
    }
    ol.eula-agreement-list {
        margin-bottom: 24px;
        list-style-position: outside;
        padding-left: 16px;
        > li {
            font-size: 12px;
            line-height: 24px;
            color: #636c77;
        }
    }

    // privacy page only
    .privacy-paragraph {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #383838;
        margin-bottom: 36px;
    }
    ol.privacy-list__container {
        li.privacy-list__level-1 {
            list-style-type: upper-roman;
            font-weight: 800;
            text-transform: uppercase;
            color: #ff7d34;
            font-size: 22px;
            line-height: 26px;
            &:not(:last-of-type) {
                margin-bottom: 32px;
            }
            > ol {
                font-weight: normal;
                color: #343e3d;
                margin-top: 20px;
                list-style-position: outside;
                padding-left: 16px;
                li.privacy-list__level-2 {
                    text-transform: none;
                    font-size: 12px;
                    line-height: 22px;
                    color: #636c77;
                    p:first-of-type {
                        margin-top: 8px;
                    }
                    > ol {
                        padding-left: 16px;
                        li.privacy-list__level-3 {
                            list-style: disc;
                        }
                    }
                }
            }
            > p {
                font-weight: normal;
                text-transform: none;
                color: #636c77;
                font-size: 12px;
                line-height: 22px;
            }
        }
    }

    @media (min-width: 768px) {
        max-width: 980px;
        padding: 48px;
        margin-left: auto;
        margin-right: auto;
        .eula-title {
            &-container {
                margin-bottom: 68px;
            }
            &__text {
                font-size: 40px;
                line-height: 54px;
            }
        }
        .eula-summary {
            font-size: 16px;
            line-height: 34px;
            color: #383838;
        }
        .eula-paragraph {
            font-size: 14px;
            line-height: 26px;
            color: #343e3d;
        }
        ol.eula-agreement-list {
            margin-bottom: 48px;
            > li {
                font-size: 14px;
                line-height: 26px;
                color: #343e3d;
            }
        }

        // privacy page only
        .privacy-paragraph {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: #383838;
        }
        ol.privacy-list__container {
            list-style-position: outside;
            margin-left: 16px;
            > li.privacy-list__level-1 {
                font-size: 20px;
                line-height: 24px;
                &:not(:last-of-type) {
                    margin-bottom: 24px;
                }
                > ol {
                    font-size: 14px;
                    line-height: 26px;
                    margin-top: 20px;
                    li.privacy-list__level-2 {
                        color: #343e3d;
                        font-size: 14px;
                        line-height: 26px;
                    }
                }
                > p {
                    font-size: 14px;
                    line-height: 26px;
                    color: #343e3d;
                }
            }
        }
    }
}
